/* @media (min-width: 768px) {
    .burger-menu {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav ul li {
        margin: 0 1em;
    }

    main {
        max-width: 800px;
        margin: 0 auto;
    }
} */