@media (min-width: 1024px) {
    .allies-enemies ul {
        grid-template-columns: repeat(3, 1fr); /* 3 columns layout */
    }
}

.allies-enemies ul li {
    margin: 0;
    color: #333;
    display: flex;
    align-items: center;
}

.allies-enemies ul li img {
    width: 100px; 
    height: 100px;
    object-fit: cover;
    margin-right: 0.5rem;
}
